.team{
    width: 100%;
    padding: 32px;
    text-align: center;
    font-size: 32px;
    position: relative;
}

.team h3{
    display: inline-block;
    padding-bottom: 8px;
    font-weight: 400;
    color: var(--title-color);
}

.inputColor {
    position: absolute;
    bottom: 15px;
    right: 40%;
}

.collaborators{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 416px){
    .inputColor{
        top: 20px;
        right: 10px;
    }
}